<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cobrança com Stripe</title>
  <script src="https://js.stripe.com/v3/"></script>
</head>

<body>
  <h1>Realizar Cobrança</h1>
  <form action="/cobrar" method="POST" id="payment-form">
    <div class="form-row">
      <label for="card-element">
        Informe os dados do cartão:
      </label>
      <div id="card-element">
        <!-- Elemento do cartão Stripe -->
      </div>
      <!-- Usado para exibir erros do Elemento -->
      <div id="card-errors" role="alert"></div>
    </div>
    <button type="submit">Pagar R$ 10,00</button>
  </form>

  <script>
    // Criar um objeto Element do cartão Stripe
    var stripe = Stripe('pk_test_51PBIyAGY2TIKtcLF1j5EEEyXuAO960PWoTrKi1wcljKR0EAZa5fC8KsFH0K6j4YQ8fNHLYVMUzi0y7CoLT7UwHcz00VZwTzdjR');
    var elements = stripe.elements();

    // Estilo do Element do cartão
    var style = {
      base: {
        fontSize: '16px',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
      }
    };

    // Criar um Element do cartão Stripe e adicionar ao formulário
    var card = elements.create('card', { style: style });
    card.mount('#card-element');

    // Tratar erros do Element do cartão
    card.addEventListener('change', function (event) {
      var displayError = document.getElementById('card-errors');
      if (event.error) {
        displayError.textContent = event.error.message;
      } else {
        displayError.textContent = '';
      }
    });

    // Submeter o formulário ao clicar no botão de pagamento
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
      event.preventDefault();

      stripe.createToken(card).then(function (result) {
        if (result.error) {
          var errorElement = document.getElementById('card-errors');
          errorElement.textContent = result.error.message;
        } else {
          var tokenInput = document.createElement('input');
          tokenInput.setAttribute('type', 'hidden');
          tokenInput.setAttribute('name', 'stripeToken');
          tokenInput.setAttribute('value', result.token.id);
          form.appendChild(tokenInput);
          form.submit();
        }
      });
    });
  </script>
</body>

</html>